<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook><%= link_to t('spree.home'), spree.root_path %></li>
    <li id="about-link" data-hook><%= link_to "About", spree.cart_path %></li>
    <li id="tests-link" data-hook><%= link_to "Hearing Test", spree.root_path %></li>
    <li id="solutions-link" data-hook><%= link_to "Hearing Aid Solutions", spree.root_path %></li>
    <li id="works-link" data-hook><%= link_to "How it works", spree.root_path %></li>
    <li id="contacts-link" data-hook><%= link_to "Contact us", spree.root_path %></li>
    <li id="link-to-cart" data-hook>
      <noscript>
        <%= link_to t('spree.cart'), spree.cart_path %>
      </noscript>
      &nbsp;
    </li>
  </ul>
  <script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script>
</nav>
