<div class="topnav" id="myTopnav">
  <nav class="columns sixteen">
    <ul id="main-nav-bar" class="inline" data-hook>
      <li id="home-link" data-hook><%= link_to "Home", spree.root_path %></li>
      <li id="about-link" data-hook><%= link_to "About", '/spree/abouts#index'  %></li>
      <li id="tests-link" data-hook><%= link_to "Hearing Test", '/spree/tests#index' %></li>
      <li id="solutions-link" data-hook><%= link_to "Hearing Solutions", '/spree/solutions#index' %></li>
      <li id="works-link" data-hook><%= link_to "How It Works", '/spree/works#index' %></li>
      <li id="contacts-link" data-hook><%= link_to "Contact Us", '/spree/contacts#index' %></li>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars fa-2x"></i>
      </a>
    </ul>
  </nav>
</div>
